.hoverablePane {
    background-color: white;
    color: black;
    padding: 20px;
  }

.hoverablePane:hover { 
    background-color: #703EFA;
    color: white;
}

a, a:active {
    font-size: 0.9em;
    color: #703EFA;  
    text-decoration: none;
}

a:hover {
    color: #3FFC4A;
}